header.main-header
	.main-header-top
		.main-header-top__wrap
			.main-header-top__item
				picture
					source(type="image/webp" srcset="assets/i/icons/phone.webp")
					img(src="assets/i/icons/phone.png" alt="")
				a(href="tel:+37368365000")  +(373) 68365000

			.main-header-top__item
				picture
					source(type="image/webp" srcset="assets/i/icons/mail.webp")
					img(src="assets/i/icons/mail.png" alt="")
				a(href="mailto:prodinfo.md@gmail.com") prodinfo.md@gmail.com

			.main-header-top__item
				picture
					source(type="image/webp" srcset="assets/i/icons/map.webp")
					img(src="assets/i/icons/map.png" alt="")
				a(href="#")  Chifinau, bd. Mircea cel BatrTn 8/1

	.main-header-bottom
		.container
			.main-header-bottom__wrap
				a(href="#").logo
					picture
						source(type="image/webp" srcset="assets/i/logo.webp")
						img(src="assets/i/logo.png" alt="")

				ul.main-menu#js-main-menu
					li.current-menu-item
						a(href="#") Despre noi
					li
						a(href="#") Avantajele membrilor
					li
						a(href="#") Membrii
					li
						a(href="#") Stiri
					li
						a(href="#") Contacte


				#js-sandwitch.sandwitch
					.sandwitch__line.sandwitch__line--top
					.sandwitch__line.sandwitch__line--middle
					.sandwitch__line.sandwitch__line--bottom

				.flags-styled
					span.flag.wpglobus-current-language
						img(src="assets/i/ru.png")
					span.flag
						img(src="assets/i/us.png")
					span.flag
						img(src="assets/i/ro.png")

