header.header
    .header-top-wrap
        .header-top
            .header-top__item
                a(href="#") +(373) 68365000
            .header-top__item
                a(href="#") prodinfo.md@gmail.com
            .header-top__item
                a(href="#") Chișinău, bd. Mircea cel Bătrîn 8/1
    .header-bottom
