.section {
	padding: 40px 0 60px;
	&.dark {
		position: relative;
		color: white;
		z-index: 1;
		.section__title::before,
		.section__title::after {
			background: white;
		}
		.section__subtitle {
			position: relative;
			color: white;
			z-index: 3;
		}
	}
	&__title {
		position: relative;
		display: table;
		margin: 0 auto 50px;
		@include raleway;
		font-size: 35px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		@media screen and (max-width: 640px) {
			font-size: 20px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 60px;
			height: 3px;
			background: $martinique;
			@media screen and (max-width: 750px) {
				display: none;
			}

		}
		&::before {
			left: -100px;
		}
		&::after {
			right: -100px;
		}
	}
	&__subtitle {
		margin-bottom: 30px;
		text-align: center;
		color: $accent;
		@media screen and (max-width: 420px) {
			display: none;
		}
	}
	&__text {
		display: table;
		margin: 0 auto 30px;
		max-width: 530px;
		height: 80px;
		font-size: 17px;
		text-align: center;
		@media screen and (max-width: 420px) {
			display: none;
		}
	}
}
