//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$accent: #13d68f;
$martinique: #2F3055;
$text-color: #2F3055;
$white:  #fff;
$black:  #000;
$tundora: #9fa;
$shark: #1F2126;
$gulf-stream: #8bb0b5;
$alabaster: #F7F7F7;
$abbey: #545658;
$text-light-color: #999;
